* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 30px;
    height: 4px;
    margin: 5px auto;   
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover {
    color: #482ff7;
}

@media only screen and (max-width: 850px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .nav-logo > img {
        width: 200px;
    }
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media only screen and (max-width: 400px) {
    .nav-logo {
       margin-left: -20%;
    }
}

/* about me */
.programmer-svg {
    display: flex;
    justify-content: center;
}

.programmer-svg > img {
    width: 60%;
}

.about-container {
    display: flex;
    justify-content: center;
    height: 500px;
}


.about-container .site-about {
    display: flex;
    direction: rtl;
    align-items: center;
    line-height: 2;
}

.image-me {
    margin: 0% 12%;
}

.image-me > img {
    border-radius: 50px;
    box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, .2);
}

.content-about > p {
    font-size: 25px;
}

@media only screen and (max-width: 850px) {
    .site-about {
        display: flex;
        flex-direction: column;
    }
    .image-me > img {
        width: 80%;
        margin-right: 5%;
    }
    .content-about {
        padding: 5%;
        color: #101010;
    }
    .content-about > p {
        font-size: 20px;
    }
    #pana > img {
        opacity: 0.1;
    }
}

@media only screen and (max-width: 500px) {
    .content-about > p {
        font-size: 17px;
    }
}

@media only screen and (max-width: 400px) {
    #pana > img {
        opacity: 1;
    }
}


/* Skills */
.skills-container {
    display: flex;
    justify-content: center;
}


.skills-container .skill-me {
    width: 80%;
    padding: 2%;
    box-shadow: 0px 8px 16px 3px rgba(49, 49, 49, 0.2);
    background-color: ghostwhite;
    margin-bottom: 5%;
}

.skill-me > h3 {
    text-align: center;
    font-size: 30px;
    line-height: 5;
}

.skill-me > .programming-languages {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}


.skill-me > .description {
    display: flex;
    justify-content: space-between;
    width: 70%; 
    margin: 0% auto;
    margin-bottom: 5%;
    line-height: 2;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 1px 2px 16px 2px rgba(46, 46, 46, 0.2);
}

.description > #firmware {
    width: 25%;
}

@media only screen and (max-width: 850px) {
    .skill-me {
        margin-top: 10%;
    }
    .skill-me > h3 {
        font-size: 20px;
    }
    .programming-languages > img {
        width: 20%;
    }
    .skill-me > .description {
        width: 80%;
        margin-right: auto;
    }
    .description > .tech {
        font-size: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .skills-container .skill-me  {
        width: 90%;
    }
    .skill-me > h3 {
        font-size: 15px;
    }
    .programming-languages > img {
        width: 15%;
    }
    .description {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 372px) {
    .skill-me > h3 {
        font-size: 12px;
    }
}

/* footer */
.contact-svg > img {
    width: 50%;
}

.contact-container {
    line-height: 2;
    height: 255px;
}

.contact-container > .icon-media {
    text-align: center;
}

.contact-container .contact-me {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.contact-me .connect {
    line-height: 3;
}

.date-time {
    text-align: center;
    padding: 2%;
    color: #fff;
    background-color: rgb(4, 77, 75);
}

@media only screen and (max-width: 440px) {
    .contact-me > .connect {
        font-size: 70%;
    }   
}
